.main-page-container {
  background-color: #2f5b64;
  min-height: 100vh;
  padding: 20px;
}

.main-page-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20px;
  color: #f2eae3;
}

.main-page-cards-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 10px 20px;
}

.main-page-card-container {
  color: #ffffff;
  background-color: #2d4057;
  height: 380px;
  width: 315px;
  border-radius: 8px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page-card-topbar {
  background-color: #f2eae3;
  width: 100%;
  height: 30px;
  border-radius: 8px 8px 0 0;
  display: flex;
  column-gap: 5px;
  align-items: center;
  padding: 0 10px;
}

.main-page-card-topbar-green {
  background-color: #41ff00;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.main-page-card-topbar-yellow {
  background-color: #ffbd44;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.main-page-card-topbar-red {
  background-color: #ff505c;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.main-page-card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.main-page-card-image-container {
  background-color: #f3deca;
  display: grid;
  place-items: center;
  border-radius: 10px;
  margin: 10px 20px;
}

.main-page-card-image {
  width: 100%;
  height: 190px;
  border-radius: 10px;
}

.main-page-card-button {
  cursor: pointer;
  width: 80px;
  height: 30px;
  margin-top: 30px;
  background-color: #f2eae3;
  color: #fa9483;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
}

.final-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  color: white;
}
