.memories-container {
  background-color: #2f5b64;
  min-height: 100vh;
  padding: 20px;
}

.memories-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20px;
  color: #f2eae3;
}

.memories-cards-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 10px 5px;
}

.memories-card-container {
  position: relative;
  background-color: #f2eae3;
  height: 450px;
  width: 260px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
}

.memories-card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.memories-card-img-container {
  display: grid;
  place-items: center;
  border-radius: 10px;
  margin: 10px 20px;
}

.memories-card-img {
  width: 100%;
  height: 220px;
  border-radius: 10px;
}

.memories-card-description {
  font-size: 14px;
  margin-top: 5px;
  height: 60px;
}

.memories-card-happiness {
  display: flex;
  position: absolute;
  bottom: 20px;
  font-weight: bold;
  margin-top: 25px;
}
