.welcome-background {
  background-color: #ffffff;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-background::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f3deca;
  clip-path: polygon(100% 50%, 100% 100%, 50% 100%);
}

.welcome-container {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #2d4057;
  border-radius: 10px;
  padding: 40px 10px 0px 10px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.15),
    0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.welcome-topbar {
  background-color: #fa9483;
  height: 70px;
  width: 100vw;
  position: absolute;
}

.welcome-title {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  font-size: 20px;
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-snoopy-img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 20px;
  z-index: 1;
}

.inputs-container {
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  justify-items: center;
}

.input-container {
  width: 250px;
}

.input-entry-area {
  position: relative;
  height: 20px;
  line-height: 20px;
}

input {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 14px;
  padding: 0 30px;
  line-height: 40px;
  border-radius: 10px;
  border: 2px solid #f0ffff;
  background: transparent;
  transition: 0.1 ease;
  z-index: 3;
}

.input-labelline {
  position: absolute;
  font-size: 12px;
  color: #f0ffff;
  padding: 0 25px;
  margin: 0 10px;
  background-color: #2d4057;
  transition: 0.3s ease;
  height: 44px; /* This has to follow the input field's height */
  display: flex;
  align-items: center;
}

input:focus,
input:valid {
  color: #f3deca;
  border: 4px solid #f3deca;
}

input:focus + .input-labelline,
input:valid + .input-labelline {
  color: #f3deca;
  height: 10px;
  line-height: 10px;
  transform: translate(-10px, -4px) scale(0.88);
  z-index: 3;
}

.snoopy-hug-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snoopy-hug-img {
  width: 120px;
  height: auto;
  margin-top: 30px;
}

.submit-button {
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 20px;
  width: calc(100% - 80px);
  padding: 10px 22px;
  background: #f2eae3;
  border-radius: 6px;
  color: #2d4057;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 2px #f3deca;
}
