.welcome-background {
  background-color: #293241;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-title {
  font-size: 40px;
  font-weight: bold;
  color: #dffbfc;
}

.welcome-text {
  font-size: 20px;
  color: #ee6b4d;
}
