.welcome-background {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-background::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f3deca;
  clip-path: polygon(100% 50%, 100% 100%, 50% 100%);
}

.welcome-container {
  width: 300px;
  height: 400px;
  background-color: #2d4057;
  border-radius: 10px;
  padding: 40px 10px 0px 10px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.15),
    0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.welcome-topbar {
  background-color: #fa9483;
  height: 70px;
  width: 100vw;
  position: absolute;
}

.welcome-title {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  font-size: 20px;
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-snoopy-img {
  position: absolute;
  width: 50px;
  height: 50px;
  /* right: 30px; */
  /* bottom: 30px; */
  top: 10px;
  left: 20px;
  z-index: 1;
}
